*{
    box-sizing: border-box;
}

.container{
    width: 100%;
}
.lateral{
    background-image: radial-gradient(circle at 16.4% 83.6%, #003549 0, #003342 6.25%, #002f3a 12.5%, #002a32 18.75%, #012529 25%, #061f20 31.25%, #061817 37.5%, #030f0e 43.75%, #000000 50%, #000000 56.25%, #000000 62.5%, #000000 68.75%, #000000 75%, #000000 81.25%, #000000 87.5%, #000000 93.75%, #000000 100%);
    position: fixed;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 100%;
}
.Principal{
    background-image: radial-gradient(circle at 45.04% 39.35%, #b9f7ff 0, #9eebfa 12.5%, #7fdef5 25%, #58d0f1 37.5%, #0cc1ed 50%, #00b2ea 62.5%, #00a3e7 75%, #0095e5 87.5%, #0088e2 100%);
    border-style: dashed;
    border-color: yellow;
    display: table;
    margin-left: 25%;
    width: 75%;
    padding: 1em;
    height: calc(110vh - 5px) !important;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: #29597c;
}

/*Perfil*/
.perfil_circulo{
    border-radius: 50%;
    height: 50px;
    margin: 0;
    overflow: hidden;
    width: 50px;
}

.perfil_foto{
    width: 100%;
}

.perfil_nombres{
    color: #fff;
    font-size: 20px;
    margin-left: 0.5em;
    width: 250px;
}

.perfil_nombres ,.perfil_circulo{
    display: inline-block;
    vertical-align: middle;
}
/* Informacion */
.informacion{
    color: orange;
    position: absolute;
    bottom: 1em;
}

.informacion_titulo{
    font-size: 18px;
}

/* Habilidades */
.habilidades{
    padding: 0;
}
.habilidad{
    background-color: #0F6A62;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0.5em;
}
.habilidad--proyecto{
    background-color:black;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0.5em;
}
/* Proyectos*/

.proyectos{
    background:radial-gradient(200px top, ellipse, white, #1162ac, black);
    border-style: dashed;
    border-color: yellow;
    display: table;
    padding: 1em;
}

.proyecto{
    border-style: dashed;
    border-color: yellow;
    display: table-cell;
    padding: 1em;
    width: 50%;
}

.proyecto_imagen{
    width: 100%;
}

.proyecto_titulo{
    color:black;
    font-size: 18PX;
}

@media screen and (max-width:500px) {

    .lateral{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .informacion{
        position: relative;
    }

    .proyectos{
        margin-left: 0;
        width: 100%;
    }

    .Principal{
        margin-left: 0%;
        width: 100%;
        border: none;
    }
    .proyecto{
        width: 45%;
        display: inline-block;
        border: none;
        margin: 0%;
    }
    
   
}
@media screen and (max-width:400px) {

  
    .lateral{
        width: 100%;
        height: auto;
         position: relative;
    }
    .perfil_nombres{
        position: relative;
    }
    .informacion{
        position: relative;
    }
   
    .Principal{
        margin-left: 0%;
        width: 100%;
        border: none;
    }
     .proyectos{
       margin-left: 0;
         width: 100%;
     }
      .Principal{
      margin-left: 0;
        width: 100%;
        height: calc(110vh - 5px) !important;
    }
     .proyecto{
         width: 100%;
         display: block;
     }
    
 }