*{
    box-sizing: border-box;
}

.container{
    width: 100%;
}
.lateral{

    background-color:black;
    position: fixed;
    padding: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
}

/*Perfil*/
.perfil_circulo{
    border-radius: 50%;
    height: 50px;
    margin: 0;
    overflow: hidden;
    width: 50px;
}

.perfil_foto{
    width: 100%;
}

.perfil_nombres{
    color: #fff;
    font-size: 20px;
    margin-left: 0.5em;
    width: 250px;
}

.perfil_nombres ,.perfil_circulo{
    display: inline-block;
    vertical-align: middle;
}
/* Informacion */
.informacion{
    color:  #0F6A62;
    position: absolute;
    bottom: 1em;
}

.informacion_titulo{
    font-size: 18px;
}

/* Habilidades */
.habilidades{
    padding: 0;
}
.habilidad{
    background-color: #0F6A62;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0.5em;
}
.habilidad--proyecto{
    background-color:black;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0.5em;
}
/* Proyectos*/

.proyectos{
    background-color: #0F6A62;
    border-style: dashed;
    border-color: yellow;
    display: table;
    margin-left: 350px;
    padding: 1em;
}

.proyecto{
    border-style: dashed;
    border-color: yellow;
    display: table-cell;
    padding: 1em;
    width: 50%;
}

.proyecto_imagen{
    width: 100%;
}

.proyecto_titulo{
    color:white;
    font-size: 18PX;
}

@media screen and (max-width:500px) {

  
   .lateral{
       width: 100%;
       height: auto;
        position: relative;
   }
   .informacion{
       position: relative;
   }
  
    .proyectos{
      margin-left: 0;
        width: 100%;
    }
    
   
}
@media screen and (max-width:300px) {

  
    .lateral{
        width: 100%;
        height: auto;
         position: relative;
    }
    .perfil_nombres{
        position: relative;
    }
    .informacion{
        position: relative;
    }
   
     .proyectos{
       margin-left: 0;
         width: 100%;
     }
     
     .proyecto{
         width: 100%;
         display: block;
     }
    
 }